.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  z-index: 100;
}

.logout-button {
  padding: 8px 16px;
  border: 2px solid #00bcd4;
  border-radius: 20px;
  background-color: transparent;
  color: #00bcd4;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.logout-button:hover {
  background-color: #00bcd4;
  color: white;
}

.hub-button {
  padding: 8px 16px;
  border: 2px solid #00bcd4;
  border-radius: 20px;
  background-color: transparent;
  color: #00bcd4;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.hub-button:hover {
  background-color: #00bcd4;
  color: white;
}
